<div class="container">
  <div id="<%= dom_id article %>">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title"><%= article.titre %></h5>
        <h6 class="mt-1 badge bg-secondary rounded-pill text-light"><%= pluralize(article.views, "vue") %></h6>
      </div>
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://picsum.photos/id/237/500/400" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"><%= article.contenu %></p>
          </div>
          
        </div>
        <div class="card-footer">
          <p class="card-text d-flex justify-content-around">
            <small class="text-muted mt-1">Last updated 3 mins ago</small>
            <small class="mt-1">
              Posté par : <%= link_to article.user.username, profile_path(article.user), style:"text-decoration:none;font-weight: bold;color:green;" %>
            </small>
            <%= link_to "Voir cet article", article, class: "btn btn-sm btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>